[Unit]
Description=Pi UVC Gadget + Raspberry Ninja 720p
After=network.target

[Service]
Type=simple
ExecStartPre=/usr/local/bin/pi_uvc_gadget.sh
ExecStart=/usr/bin/python3 /home/pi/raspberry_ninja/publish.py --framebuffer tahir2242 --rpi --h264 --noaudio --lowlatency
ExecStartPost=/usr/bin/python3 /usr/local/bin/raspininja_uvc.py
Restart=always
User=pi

[Install]
WantedBy=multi-user.target

